nav {
    background: #1d222b;
    text-align: center;
    padding: 20px;
    -webkit-text-fill-color: #efefef;
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 20px;
}

body {
  background: #36393F;
}

h1 {
  color: #fff;
}
