

nav {
    background: #1d222b;
    text-align: center;
    padding: 20px;
    -webkit-text-fill-color: #efefef;
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 70px;
    margin-left: 300px;
    margin-right: 300px;
}

a {
    text-decoration: none;
    color: #5DB4FE;
}

body {
  background: #36393F;
}

header {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    margin: 20px;
}

h2 {
    font-size: 20px;
    font-style: oblique;
    font-family: monospace;
}

img {
    border-color: black;
    border: 2px;
    border-style: solid;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    color: #e0e0e0;
}

th {
        text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

td {
        text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 190%;
    font-family: sans-serif;
}

section {
    text-align: center;
}

input {
    border-radius: 100px;
    background: white;
    border-color: black;
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    nav {
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
        font-size: 20px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    th {
        font-size: 16px;
    }
    td {
        font-size: 12px;
    }
   }
